PORT=3000
PAGBANK_TOKEN=seu_token_do_pagbank_aqui
PAGBANK_SANDBOX=true

# Credenciais Oficiais Twilio API (Selo Verde)
TWILIO_ACCOUNT_SID=sua_sid_aqui
TWILIO_AUTH_TOKEN=seu_token_auth_aqui
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
